.idea/
env/
dist/
.vscode/
*.pyc
creator_counter/
meta_input/
blazegraph*
*.log
prova.py
.env
*.bat 
*.sh
*.lock
*meta_output*.zip
nohup.out
examples_cache.sqlite
examples_cache.sqlite-journal
/.coverage
temp*/
zip_tasks.tmp
figshare.yaml
zenodo.yaml