.idea/
env/
dist/
.vscode/
*.pyc
meta_input/
*.log
prova.py
.env
*.bat
nohup.out
/.coverage
temp*/
figshare.yaml
figshare.prov.yaml
zenodo.yaml
zenodo.csv.yaml
zenodo.rdf.yaml
zenodo.data.yaml
zenodo.prov.yaml
storage
ts_upload_cache.json
test/editor/output/
test/meta_process/output_*/info_dir/
gently_run.sh
gently_stop.sh