# .coveragerc to control coverage.py
[run]
command_line = -m unittest discover -s test -p *_test.py
source = oc_meta
omit =
    oc_meta/lib/oc_ocdm/*
    oc_meta/run/benchmark/*

[report]
exclude_lines =
    if __name__ == .__main__.: